<header class="header-area" style="position: fixed;">
  <div
    class="main-header-area"
    style="background-color: #212529; z-index:-999;"
  >
    <div
      class="classy-nav-container breakpoint-off"
      style="background-color: #212529;padding:10px; z-index:-999;"
    >
      <div class="container">
        <!-- Classy Menu -->

        <nav>
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav" style="font-size:10px">
                <li><a href="/entertainment/trending">Trending</a></li>
                <li><a href="/entertainment/trailer">Trailers</a></li>
                <li><a href="/entertainment/movie">Movies</a></li>
                <li><a href="/entertainment/news">News</a></li>
              </ul>

              <!-- Search -->
              <!--<div class="search-btn ml-4">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>-->

              <!-- Book Now -->
              <!--<div class="book-now-btn ml-3 ml-lg-5">
                                <a href="#">Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>-->
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="top-header-area" style="background-color:#fff">
    <center>
      <a href="/ad_show/audition">
        <img
          src="https://pilescure-treatment.com/Amp/images/Cinema%20circle%20logo-02.png"
          style="height:45px;width:45px;margin-top:-23px"
      /></a>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/ad_register/register"
        ><i class="fa fa-newspaper" style="font-size:42px;color:black"></i
      ></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/user/action"
        ><i class="fa fa-tasks" style="font-size:42px;color:black"></i
      ></a>

      <table>
        <tr>
          <td style="width:90px;padding-left:29px;color:black">
            <font style="font-size:13px"
              ><a href="/ad_show/audition">Home</a></font
            >
          </td>
          <td style="width:90px;padding-left:23px;color:black">
            <font style="font-size:13px"
              ><a href="/ad_register/register">Your AD</a></font
            >
          </td>
          <td style="width:90px;padding-left:30px;color:black">
            <font style="font-size:13px"
              ><a href="/user/action">Actions</a></font
            >
          </td>
        </tr>
      </table>
    </center>
  </div>
</header>
