<header class="header-area" style="position: fixed;">
  <!-- Search Form -->

  <div class="top-header-area" style="background-color:#fff">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <div class="top-header-content">
            <img src="/img/CC.png" style="width: 40px; width: 40px;" />

            <form class="nl-form">
              <select
                style="z-index:999;width: 80px;padding-left: 8px; padding-right: 8px;"
              >
                <option>Bollywood</option>
                <option>Bollywood Industry (Hindi)</option>
                <option>Hollywood Industry (English)</option>
                <option>Mollywood Industry (Malayalam)</option>
                <option>kollywood Industry (Tamil)</option>
                <option>Sandalwood Industry (Kannada)</option>
                <option>Tollywood Industry (Telagu)</option>
                <option>Tollywood Industry (Bengali)</option>
                <option>Marathi Film Industry (Marathi)</option>

                <option>Other Regional Industry (OtherLanguage)</option>
              </select>

              <input
                type="text"
                class="catinp"
                placeholder="Category"
                style="background-color: #fff; border-radius: 5px;border: solid 1px #e8e8e8; font-family: inherit;font-size: 14px;font-weight: normal;height: 42px;line-height: 40px;outline: none;padding-left: 8px; padding-right: 8px;position: relative;width: 100px;"
              />
            </form>
          </div>
        </div>

        <div class="col-3 bellbutton">
          <div class="top-header-content">
            <!-- Top Social Area -->
            <div class="top-social-area ml-auto">
              <a href="/user/notification"
                ><i
                  class="fa fa-bell"
                  aria-hidden="true"
                  style="color:black;font-size:20px"
                ></i
              ></a>
              <a href="/user/user_profile"
                ><i
                  class="fa fa-user"
                  aria-hidden="true"
                  style="color:black;font-size:20px"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Top Header Area End -->

  <!-- Main Header Start -->
  <div
    class="main-header-area"
    style="background-color: #212529; z-index:-999;"
  >
    <div
      class="classy-nav-container breakpoint-off"
      style="background-color: #212529;padding:10px; z-index:-999;"
    >
      <div class="container">
        <!-- Classy Menu -->

        <nav>
          <!-- Logo -->

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav" style="font-size:10px">
                <li class="active"><a href="/ad_show/audition">Audition</a></li>
                <li><a href="/ad_show/spot_offer">Spot Offers</a></li>
                <li><a href="/ad_show/workshop">Workshop</a></li>
                <li><a href="/ad_show/event">Events</a></li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
