<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Cinema Circle</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/CC.png" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css1/style.css" />

    <style>
      .classynav ul li a {
        border: 1px solid white;
        border-radius: 15px;
        font-size: 12px;
        padding: 0 12px;
        background-color: white;
      }
      .classynav ul li.active a {
        position: relative;
        z-index: 1;
        background-color: #f39c12;
        border: 1px solid #f39c12;
      }
    </style>
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <!-- Header Area End -->

    <!-- Blog Area Start -->
    <section class="roberto-blog-area section-padding-100-0">
      <br />
      <div class="container">
        <div
          class="row iframemovie"
          style="background-color:#fff; height: 450px;overflow-y: scroll;"
        >
          <!-- Single Post Area -->
          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/nSmLFZolXdM"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/U9ROv4lQeJ0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/T8XlRPCJdzY"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/F50EmsabWLc"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/w_ARjCb9gtc"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/63F9Pv4k4wk"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/rzlfeocUVhI"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/rzlfeocUVhI"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/rzlfeocUVhI"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="col-6 col-lg-3 ifmwrapper">
            <div class="myifmwrapper">
              <iframe
                class="myifm"
                width="160"
                height="140"
                src="https://www.youtube.com/embed/rzlfeocUVhI"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br />
    <!-- Blog Area End -->

    <!-- Call To Action Area Start -->

    <!-- Footer Area Start -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="/js/default-assets/active.js"></script>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </body>
</html>
